= @scopes.inspect

.row
  .span12
    %table.table.table-bordered.table-striped.table-condensed
      %thead
        %th="Category"
        - @users.each do |user|
          %td
            = image_tag user.avatar, size: "20x20" unless user.email.blank?
            = user.name
        %th="Total"
      %tbody
        - @categories.each do |category|
          %tr
            %td= category.name
            - @users.each do |user|
              %td= category.works.where(user_id: user.id).sum(&:hours)
            %td= category.works.sum(&:hours)
      %tfoot
        %tr
          %td="Total:"
          - @users.each do |user|
            %td=user.works.sum(&:hours)
          %td= @works.sum(&:hours)
%hr.clearfix
.row
  .span12
    = form_for @work do |f|
      %input.datepicker{type: "text", name: "work[day]", value: Date.today.to_s, readonly: true}
      = f.hidden_field :user_id, value: current_user.id
      = f.select :category_id, @categories.collect{|c| [c.name, c.id]}
      = f.text_field :hours, :placeholder => "Hours"
      = f.text_field :desc, :placeholder => "Desc"
      = f.submit "Add new row", class: 'btn btn-small btn-primary pull-right'
%hr.clearfix
.row
  .span12
    %table.table.table-bordered.table-striped
      %thead
        %th="Who"
        %th="Day"
        %th="Category"
        %th="Desc"
        %th="Time"
      %tbody
        - @works.each do |work|
          %tr
            %td= work.user.name
            %td= work.day
            %td= work.category.name
            %td= work.desc
            %td= work.hours
