<!DOCTYPE html>
<html>
<head>
  <title>Timer</title>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<span class="brand pull-left"><a href="/">Timer</a></span>
				<ul class="pull-right nav">
					<li class="user"><%= image_tag current_user.gravatar, size: "25x25" %> <%= current_user.name %></li>
					<li class="logout"><%= link_to "Logout", logout_path, class: 'button' %></li>
				</ul>
			</div>
		</div>
	</div>
<% end %>

<% flash.each do |name, msg | %>
	<%= content_tag :div, msg, id: "flash", class: "alert alert-#{name}" %>
<% end %>

<div class="container"><%= yield %></div>

</body>
</html>
